@model List<Data.Object.Projeto>
@{
    ViewBag.Title = "Home Page";

    <style>
        .post-it {
            float: left;
            background-color: #f6f800 !important ;
            border: solid 1px #333!important;
            padding: 20px;
            height: 200px!important;
            width: 275px!important;
            margin: 25px;
        }
    </style>
}
@{
    foreach (var item in Model)
    {
        <div class="post-it">
            <h3>@item.titulo</h3>
            <hr />
            <p>@item.descricao</p>
        </div>
    }
}
