@{
    ViewBag.Title = "Home Page";
}
@{
    <h1>KANBAN</h1>
    
    @Html.ActionLink("Criar Tarefas", "Criar", "Tarefa");
    <br />
    @Html.ActionLink("Gerenciamento de Projetos", "Index", "Projeto");
    <br />
    @Html.ActionLink("Gerenciamento de Fases", "Index", "Fase");
}

